<!--The content below is only a placeholder and can be replaced.-->
<div  >
  <h1>Welcome to day 3</h1>
</div>

<!-- <app-postdemo></app-postdemo>
<app-home></app-home>
<app-notfound></app-notfound> -->
<!-- <app-observabledemo></app-observabledemo> -->
<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-parent></app-parent> -->
<!-- <app-actorlist></app-actorlist> -->


<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pipedemo" routerLinkActive="active">PipeDemo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/actors" routerLinkActive="active">Actors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="/posts" routerLinkActive="active">Posts</a>
      </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/abcd" routerLinkActive="active">Not Found</a>
    </li>

  </ul>

  <router-outlet></router-outlet>